/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}


h1 {
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Buttons */
#acciones {
    margin: 20px 0;
}

#acciones button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#acciones button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#acciones button:active {
    background-color: #3e8e41;
}

#vista {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}